/*  phpBB 3.0 Style Sheet
    --------------------------------------------------------------
	Style name:		2Unilever
	Based on style:	subSilver (the default phpBB 2 style)
	Original author:	subBlue ( http://www.subBlue.com/ )
	Modified by:	gokin  [ gok4in@gmail.com ] (  http://www.gokin.pl/ )

	This is an alternative style for phpBB3 for those wishing to stay with
	the familiar subSilver style of phpBB version 2.x

	Copyright 2006 phpBB Group ( http://www.phpbb.com/ )
    --------------------------------------------------------------
*/

/* Layout
 ------------ */
* {
	/* Reset browsers default margin, padding and font sizes */
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
}

body {
	/*background: #FFF;*/
	background: url('../../../divers/body-bg16.png');
	color: #666666;
	font-family: Verdana, Tahoma, Arial, "Trebuchet MS", Sans-Serif, Georgia, Courier, "Times New Roman", Serif;
	font-size: 10px;
	line-height: 135%;
	margin: 0px;
	padding: 0px; /* required for Opera to have 0 margin */

}



#wrapheader {
	height: auto !important;
	padding: 0;
}

#wrapcentre {
	margin: 15px 25px 0 25px;
}

#wrapfooter {
	text-align: center;
	clear: both;
}

#wrapnav {
	width: 100%;
	margin: 0;
	background-color: #ECECEC;
	border-width: 1px;
	border-style: solid;
	border-color: #A9B8C2;
}

#logodesc {
	background-color: #C1CAD2;
	background-image: url('./images/background.gif');
	background-repeat: repeat-x;
	background-position: center bottom;
	padding: 0 25px 15px 25px;
}

#menubar {
	margin: 0 25px;
}

#datebar {
	margin: 10px 25px 0 25px;
}

#findbar {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

.forumrules {
	background-color: #F9CC79;
	border-width: 1px;
	border-style: solid;
	border-color: #BB9860;
	padding: 4px;
	font-weight: normal;
	font-size: 1.1em;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

.forumrules h3 {
	color: red;
}

#pageheader { }
#pagecontent { }
#pagefooter { }

#poll { }
#postrow { }
#postdata { }


/*  Text
 --------------------- */
h1 {
	color: black;
	font-family: "Trebuchet MS", "Trebuchet MS", Verdana, sans-serif;
	font-weight: bold;
	font-size: 1.8em;
	text-decoration: none;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.1em;
	line-height: 120%;
	text-decoration: none;
}

h3 {
	font-size: 1.3em;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 120%;
}

h4 {
	margin: 0;
	font-size: 1.1em;
	font-weight: bold;
}

p {
	font-size: 1.1em;
}

p.moderators {
	margin: 0;
	float: left;
	color: black;
	font-weight: bold;
}

.rtl p.moderators {
	float: right;
}

p.linkmcp {
	margin: 0;
	float: right;
	white-space: nowrap;
}

.rtl p.linkmcp {
	float: left;
}

p.breadcrumbs {
	margin: 0;
	float: left;
	color: black;
	font-weight: bold;
	white-space: normal;
	font-size: 1em;
}

.rtl p.breadcrumbs {
	float: right;
}

p.datetime {
	margin: 0;
	float: right;
	white-space: nowrap;
	font-size: 1em;
}

.rtl p.datetime {
	float: left;
}

p.searchbar {
	padding: 2px 0;
	white-space: nowrap;
}

p.searchbarreg {
	margin: 0;
	float: right;
	white-space: nowrap;
}

.rtl p.searchbarreg {
	float: left;
}

p.forumdesc {
	padding-bottom: 4px;
}

p.topicauthor {
	margin: 1px 0;
}

p.topicdetails {
	margin: 1px 0;
}

.postreported, .postreported a:visited, .postreported a:hover, .postreported a:link, .postreported a:active {
	margin: 1px 0;
	color: red;
	font-weight:bold;
}

.postapprove, .postapprove a:visited, .postapprove a:hover, .postapprove a:link, .postapprove a:active {
	color: green;
	font-weight:bold;
}

.postapprove img, .postreported img {
	vertical-align: bottom;
		padding-top: 5px;
}

.postauthor {
	color: #000000;
}

.postdetails {
	color: #000000;
	text-align: center;
}

.postdetails-img {
	text-align: center;
}

.postbody {
	font-size: 1.3em;
	line-height: 1.4em;
	font-family: "Trebuchet MS", "Trebuchet MS", Helvetica, Arial, sans-serif;
	text-align: justify;
}

.postbody li, ol, ul {
	margin: 0 0 0 1.5em;
}

.rtl .postbody li, .rtl ol, .rtl ul {
	margin: 0 1.5em 0 0;
}

.posthilit {
	background-color: yellow;
}

.nav {
	margin: 0;
	color: black;
	font-weight: bold;
}

.pagination {
	padding: 4px;
	color: black;
	font-size: 1em;
	font-weight: bold;
}

.cattitle {

}

.gen {
	margin: 1px 1px;
	font-size: 1.2em;
}

.genmed {
	margin: 1px 1px;
	font-size: 1.1em;
}

.gensmall {
	margin: 1px 1px;
	font-size: 1em;
}

.copyright{
	background: transparent !important;
	font-size: 10px;
	margin: 0 0 5px 0;
	padding: 10px;
	padding-bottom: 0px;
	text-align: right;
}

.titles {
	font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.1em;
	text-decoration: none;
}

.error {
	color: red;
}


/* Tables
 ------------ */

th {
	height: 23px;
	color: #363433;
	font-size: 10px;
	font-weight : bold;
	background-color: #FFFFFF;
	background-image: url('./images/subtitle.gif');
	white-space: nowrap;
	padding: 0px 10px 0px 10px;

}

td {
	padding: 2px;
}
td.profile {
	padding: 4px;
}

.tablebg {
	/*background-color: #E3E3E3;*/
	background: url('https://www.tc-alsace.eu/wp-content/themes/Aggregate/images/body-bg5.png');
}

.catdiv {
	height: 26px;
	margin: 0;
	padding: 0;
	border: 0;
	background: white url('./images/cellpic2.jpg') repeat-y scroll top left;
}
.rtl .catdiv {
	background: white url('./images/cellpic2_rtl.jpg') repeat-y scroll top right;
}

.cat {
	height: 26px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #FFF;
	text-indent: 4px;
}

.cattext {
	text-align:left;
	font-size:13px;
	font-weight:bold;
	text-decoration: none;
	padding:7px 0px 6px 0px;
	color: #434343;
}

.cattext a:link { color: #434343; text-decoration:none }
.cattext a:visited { color: #434343; text-decoration:none }
.cattext a:hover { color: #BDDA1E; text-decoration:none }
.cattext a:active { color: #434343; text-decoration:none }

.row1 {
	background-color: #FFFFFF;
	padding: 4px;
}

.row2 {
	background-color: #F6F6F6;
	padding: 4px;
}

.row3 {
	background-color: #fff;
	padding: 4px;
}

.spacer {
	background-color: #FFFFFF;
}

hr {
	height: 1px;
	border-width: 0;
	background-color: #D1D7DC;
	color: #D1D7DC;
}

.legend {
	text-align:center;
	margin: 0 auto;
}

/* Links
 ------------ */
a:link,
a:visited,
a:active{
	background: transparent;
	color: #555555;
	text-decoration: underline;
}

a:hover{
	background: transparent;
	color: #EF463C;
}

a.forumlink {
	color: #555555;
	font-weight: bold;
	font-family: Verdana, Tahoma, Arial, "Trebuchet MS", Sans-Serif, Georgia, Courier, "Times New Roman", Serif;
	font-size: 1.2em;
}

a.forumlink:hover {
	color: #EF463C;
}

a.topictitle {
	margin: 1px 0;
	font-family: Verdana, Tahoma, Arial, "Trebuchet MS", Sans-Serif, Georgia, Courier, "Times New Roman", Serif;
	font-weight: bold;
	font-size: 1.2em;
}

a.topictitle:visited {
	color: #555555;
	text-decoration: none;
}

th a,
th a:visited {
	color: #555555 !important;
	text-decoration: none;
}

th a:hover {
	color: #EF463C;
	text-decoration: underline;
}


/* Form Elements
 ------------ */
form {
	margin: 0;
	padding: 0;
	border: 0;
}

input {
	color: #333333;
	font-family: Verdana, Tahoma, Arial, "Trebuchet MS", Sans-Serif, Georgia, Courier, "Times New Roman", Serif;
	font-size: 1.1em;
	font-weight: normal;
	padding: 1px;
	border: 1px solid #A9B8C2;
	background-color: #FAFAFA;
}

textarea {
	background-color: #FAFAFA;
	color: #333333;
	font-family: Verdana, Tahoma, Arial, "Trebuchet MS", Sans-Serif, Georgia, Courier, "Times New Roman", Serif;
	font-size: 1.3em;
	line-height: 1.4em;
	font-weight: normal;
	border: 1px solid #A9B8C2;
	padding: 2px;
}

select {
	color: #333333;
	background-color: #FAFAFA;
	font-family: Verdana, Tahoma, Arial, "Trebuchet MS", Sans-Serif, Georgia, Courier, "Times New Roman", Serif;
	font-size: 1.1em;
	font-weight: normal;
	border: 1px solid #A9B8C2;
	padding: 1px;
}

option {
	padding: 0 1em 0 0;
}

option.disabled-option {
	color: graytext;
}

.rtl option {
	padding: 0 0 0 1em;
}

input.radio {
	border: none;
	background-color: transparent;
}

.post {
	background-color: white;
	border-style: solid;
	border-width: 1px;
}

.btnbbcode {
	color: #000000;
	font-weight: normal;
	font-size: 1.1em;
	font-family: Verdana, Tahoma, Arial, "Trebuchet MS", Sans-Serif, Georgia, Courier, "Times New Roman", Serif;
	background-color: #EFEFEF;
	border: 1px solid #666666;
}

.btnmain {
	font-weight: bold;
	background-color: #ECECEC;
	border: 1px solid #A9B8C2;
	cursor: pointer;
	padding: 1px 5px;
	font-size: 1.1em;
}

.btnlite {
	font-weight: normal;
	background-color: #ECECEC;
	border: 1px solid #A9B8C2;
	cursor: pointer;
	padding: 1px 5px;
	font-size: 1.1em;
}

.btnfile {
	font-weight: normal;
	background-color: #ECECEC;
	border: 1px solid #A9B8C2;
	padding: 1px 5px;
	font-size: 1.1em;
}

.helpline {
	background-color: #DEE3E7;
	border-style: none;
}


/* BBCode
 ------------ */
.quotetitle, .attachtitle {
	background: #E6E6E6 url('./images/css_img_quote.gif') no-repeat right;
	border: 1px dotted #636363;
	border-bottom: 0;
	color: #555555;
	font-weight: bold;
	font-size: 10px;
	margin: 2px auto 0 auto;
	padding: 3px;
}

.quotetitle .quotetitle {
	font-size: 10px;
}

.quotecontent, .attachcontent {
	background: #f9f9f9;
	border: 1px dotted #636363;
	border-top: 0;
	color: #434343;
	padding: 4px;
	margin: 0 auto 0 auto;
}

.attachcontent {
	font-size: 10px;
}

.codetitle {
	background: #d50909 url('./images/css_img_code.gif') no-repeat right;
	color: #FFF;
	font-weight: bold;
	margin: 0 auto 0 auto;
	padding: 3px;
}

.codecontent {
	background: #F9F9F9;
	border: 1px dotted #636363;
	color: #434343;
	margin: 0 auto 0 auto;
	padding: 2px;
}

.syntaxbg {
	color: #FFFFFF;
}

.syntaxcomment {
	color: #FF8000;
}

.syntaxdefault {
	color: #0000BB;
}

.syntaxhtml {
	color: #000000;
}

.syntaxkeyword {
	color: #007700;
}

.syntaxstring {
	color: #DD0000;
}


/* Private messages
 ------------------ */
.pm_marked_colour {
	background-color: #000000;
}

.pm_replied_colour {
	background-color: #A9B8C2;
}

.pm_friend_colour {
	background-color: #007700;
}

.pm_foe_colour {
	background-color: #DD0000;
}


/* Misc
 ------------ */
img {
	border: none;
	max-width: 939px;
}

.sep {
	color: black;
	background-color: #FFA34F;
}

table.colortable td {
	padding: 0;
}

pre {
	font-size: 1.1em;
	font-family: Monaco, 'Courier New', monospace;
}

.nowrap {
	white-space: nowrap;
}

.username-coloured {
	font-weight: bold;
}

/*Custom */

#header {
	position: relative;
	left: 0;
	top: 0;
	height: 200px;
	width: 1100px;
	text-align: center;
}

#logo {
	/*position: absolute;
	left: 0;
	top: 70px;*/
	width: 960px;
	height: 200px;
	margin: auto;
}

#top_menu {
	/*position: absolute;
	right: 0;
	top: 250px;*/
	text-align: right;
	width:500px;
}


#menu {
	position: absolute;
	top: 175px;
	background: #BDDA1E;
	width: 1150px;
	height: 23px;
	color: #3E3D40;
	border-top: 4px solid #E3E3E3;
	border-bottom: 6px solid #E3E3E3;
}

div.item {padding-top:0.6em;}

#top_menu a,
#top_menu a:link,
#top_menu a:visited {
	color:#666;
	padding-left: 5px;
	padding-right:5px;
	text-decoration: none;
	font-weight: normal;
	text-transform: lowercase;
}

#top_menu a:hover,
#top_menu a.active {
	text-decoration: underline;
}

#top_menu ul,
#top_menu li,
#menu ul,
#menu li {
	list-style-type:none;
	list-style-image:none;
	padding: 0;
	margin: 0;
}



#top_menu li {
	float:right;
}



#menu ul {
	height: 23px;
}



#menu ul li {
	float:left;
	height: 23px;
	line-height:23px;
	background: url('./images/menu_bg.gif') right top no-repeat;
}

#menu ul li a,
#menu ul li a:link,
#menu ul li a:visited {
	color: #3E3D40;
	font-size: 10px;
	text-decoration: none;
	padding-left: 15px;
	padding-right: 15px;
	text-transform: uppercase;
}

#menu ul li:hover,
#menu ul li.over {
	background:black url('./images/menu_bg.gif') right top no-repeat;
}

#menu ul li:hover a,
#menu ul li.over a {
	color: #A8C82B;
}

#menu ul li#current {
	background:black url('./images/menu_bg.gif') right top no-repeat;
}

#menu ul li#current a {
	color: #A8C82B;
}

.borderwrap,
.borderwrapm{ /* this will affect the outlining border of all the tables and boxes through-out the skin. */
	background: #e3e3e3;
	border: 0px solid #072A66;
	padding: 0px;
	margin: 0px;
}

.borderwrapm{
	margin: 5px;
}

.borderwrap h3,

.maintitle,
.maintitlecollapse{
	background: #FFF;
	border: 0px solid #FFF;
	border-bottom: 0px solid #5176B5;
	color: #434343;
	font-size: 12px;
	font-weight: bold;
	margin: 0px;
	padding: 8px;
	padding-left: 0px;
}

.maintitle td {
	: #000;
	font-size: 12px;
	font-weight: bold;
}


.maintitlecollapse{
	border: 0px solid #FFF;
}

.maintitle p,
.maintitlecollapse p,
.formsubtitle p{
	background: transparent !important;
	border: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
}

.maintitle p.expand,
.maintitle p.goto,
.maintitlecollapse p.expand,
.formsubtitle p.members{
	float: right;
	width: auto !important;
}

.maintitle a:link,
.maintitle a:visited,
.maintitlecollapse a:link,
.maintitlecollapse a:visited{
	background: transparent;
	color: #434343;
	text-decoration: none;
}

.maintitle a:hover,
.maintitle a:active,
.maintitlecollapse a:hover,
.maintitlecollapse a:active{
	background: transparent;
	color: #BDDA1E;
}

#ipbwrapper{
	margin: 0px auto 0px auto; /* centers the box, no matter the overall width, also applies a 20px gap at the top and bottom of the board */
	text-align: left; /* re_aligns text to left second part of two part MSIE centering workaround */
	/* EDIT THIS TO CHANGE THE WIDTH OF THE BOARD -> 960px is a common fixed resolution size */
	width: 1150px;
}

#userlinks,
#userlinksguest{
	background: transparent !important;
	border: 0px solid #C2CFDF;
	margin: 5px 0 5px 0;
	padding: 0 5px 0 5px;
}

#userlinksguest{
	background: transparent !important;
	border: 0px solid #986265;
}

#userlinks p,
#userlinksguest p{
	background: transparent !important;
	border: 0 !important;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	margin: 0 !important;
	padding: 7px 0 7px 0;
	text-align: right;
}

#userlinks p,
#userlinksguest p{
	font-weight: normal;
	letter-spacing: 0;
}

#userlinksguest p.pcen{
	text-align: center;
}

#userlinks p.home,
#userlinksguest p.home{
	float: left;
}

#navstrip{
	background: transparent !import;
	color: #000;
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 5px 0;
	padding: 14px 0px 8px 0px;
}

.newslink{
	background: transparent !important;
	border-bottom: 1px solid #e3e3e3;
	margin: 0;
	width: 100%;
}

.newslink td{
	color: #363433;
	font-size: 10px;
	padding: 5px 5px 5px 10px;
}

.newslink span{
	background: transparent;
	color: #595858;
	font-style: italic;
	font-weight: normal;
}

.newslink input{
	background: transparent !important;
	border: 1px solid #e3e3e3;
	color: #363433;
	font-size: 10px;
	padding: 3px;
	vertical-align: middle;
	width: auto;
}

.newslink input.button{
	background: transparent;
	border: 0;
	color: #072A66;
	vertical-align: middle;
}

.fieldwrap{
	background: #F9F9F9;
	border: 1px solid #CCC;
	border-top: 0;
	margin: 5px;
	padding: 0;
	text-align: left;
}

.fieldwrap h4{
	background: #EEE;
	border: 1px solid #CCC;
	border-left: 0;
	border-right: 0;
	color: #444;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	padding: 5px;
}

.activeusers{
	background: #FFF;
	border: 1px solid #e3e3e3;
	color: #000;
	margin: 0px;
	padding: 1px;
}

.activeuserposting a:link,
.activeuserposting a:visited,
.activeuserposting a:active,
.activeuserposting
{

}

.icons { width:100% }

table.icons,
tr.icons,
td.icons
{ /* required for text in tables, because tables do not inherit from body */
	background: transparent;
	color: #222;
	font-size: 11px;
	line-height: 135%;
}

.icons td,
.divpad{ /* gives all tables faux cellpadding of 5px */
	padding: 5px;
}

td.nopad{ /* allows some tables to have no padding on the td */
	padding: 0;
}

/* Safari... */
th
{
	text-align: left;
}

/* Former imageset */
span.imageset {
	display: inline-block;
	background: transparent none 0 0 no-repeat;
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;
	overflow: hidden;
}

/* Global imageset items */
.imageset.site_logo {
	background-image: url("./images/site_logo.gif");
	padding-left: 170px;
	padding-top: 94px;
}
.imageset.upload_bar {
	background-image: url("./images/upload_bar.gif");
	padding-left: 280px;
	padding-top: 16px;
}
.imageset.poll_left {
	background-image: url("./images/poll_left.gif");
	padding-left: 4px;
	padding-top: 12px;
}
.imageset.poll_center {
	background-image: url("./images/poll_center.gif");
	padding-left: 1px;
	padding-top: 12px;
}
.imageset.poll_right {
	background-image: url("./images/poll_right.gif");
	padding-left: 4px;
	padding-top: 12px;
}
.imageset.forum_link {
	background-image: url("./images/forum_link.gif");
	padding-left: 35px;
	padding-top: 36px;
}
.imageset.forum_read {
	background-image: url("./images/forum_read.gif");
	padding-left: 35px;
	padding-top: 36px;
}
.imageset.forum_read_locked {
	background-image: url("./images/forum_read_locked.gif");
	padding-left: 35px;
	padding-top: 36px;
}
.imageset.forum_read_subforum {
	background-image: url("./images/forum_read_subforum.gif");
	padding-left: 35px;
	padding-top: 36px;
}
.imageset.forum_unread {
	background-image: url("./images/forum_unread.gif");
	padding-left: 35px;
	padding-top: 36px;
}
.imageset.forum_unread_locked {
	background-image: url("./images/forum_unread_locked.gif");
	padding-left: 35px;
	padding-top: 36px;
}
.imageset.forum_unread_subforum {
	background-image: url("./images/forum_unread_subforum.gif");
	padding-left: 35px;
	padding-top: 36px;
}
.imageset.topic_moved {
	background-image: url("./images/topic_moved.gif");
	padding-left: 25px;
	padding-top: 25px;
}
.imageset.topic_read {
	background-image: url("./images/topic_read.gif");
	padding-left: 25px;
	padding-top: 25px;
}
.imageset.topic_read_mine {
	background-image: url("./images/topic_read_mine.gif");
	padding-left: 25px;
	padding-top: 25px;
}
.imageset.topic_read_hot {
	background-image: url("./images/topic_read_hot.gif");
	padding-left: 25px;
	padding-top: 25px;
}
.imageset.topic_read_hot_mine {
	background-image: url("./images/topic_read_hot_mine.gif");
	padding-left: 25px;
	padding-top: 25px;
}
.imageset.topic_read_locked {
	background-image: url("./images/topic_read_locked.gif");
	padding-left: 25px;
	padding-top: 25px;
}
.imageset.topic_read_locked_mine {
	background-image: url("./images/topic_read_locked_mine.gif");
	padding-left: 25px;
	padding-top: 25px;
}
.imageset.topic_unread {
	background-image: url("./images/topic_unread.gif");
	padding-left: 25px;
	padding-top: 25px;
}
.imageset.topic_unread_mine {
	background-image: url("./images/topic_unread_mine.gif");
	padding-left: 25px;
	padding-top: 25px;
}
.imageset.topic_unread_hot {
	background-image: url("./images/topic_unread_hot.gif");
	padding-left: 25px;
	padding-top: 25px;
}
.imageset.topic_unread_hot_mine {
	background-image: url("./images/topic_unread_hot_mine.gif");
	padding-left: 25px;
	padding-top: 25px;
}
.imageset.topic_unread_locked {
	background-image: url("./images/topic_unread_locked.gif");
	padding-left: 25px;
	padding-top: 25px;
}
.imageset.topic_unread_locked_mine {
	background-image: url("./images/topic_unread_locked_mine.gif");
	padding-left: 25px;
	padding-top: 25px;
}
.imageset.sticky_read {
	background-image: url("./images/sticky_read.gif");
	padding-left: 25px;
	padding-top: 25px;
}
.imageset.sticky_read_mine {
	background-image: url("./images/sticky_read_mine.gif");
	padding-left: 25px;
	padding-top: 25px;
}
.imageset.sticky_read_locked {
	background-image: url("./images/sticky_read_locked.gif");
	padding-left: 25px;
	padding-top: 25px;
}
.imageset.sticky_read_locked_mine {
	background-image: url("./images/sticky_read_locked_mine.gif");
	padding-left: 25px;
	padding-top: 25px;
}
.imageset.sticky_unread {
	background-image: url("./images/sticky_unread.gif");
	padding-left: 25px;
	padding-top: 25px;
}
.imageset.sticky_unread_mine {
	background-image: url("./images/sticky_unread_mine.gif");
	padding-left: 25px;
	padding-top: 25px;
}
.imageset.sticky_unread_locked {
	background-image: url("./images/sticky_unread_locked.gif");
	padding-left: 25px;
	padding-top: 25px;
}
.imageset.sticky_unread_locked_mine {
	background-image: url("./images/sticky_unread_locked_mine.gif");
	padding-left: 25px;
	padding-top: 25px;
}
.imageset.announce_read {
	background-image: url("./images/announce_read.gif");
	padding-left: 25px;
	padding-top: 25px;
}
.imageset.announce_read_mine {
	background-image: url("./images/announce_read_mine.gif");
	padding-left: 25px;
	padding-top: 25px;
}
.imageset.announce_read_locked {
	background-image: url("./images/announce_read_locked.gif");
	padding-left: 25px;
	padding-top: 25px;
}
.imageset.announce_read_locked_mine {
	background-image: url("./images/announce_read_locked_mine.gif");
	padding-left: 25px;
	padding-top: 25px;
}
.imageset.announce_unread {
	background-image: url("./images/announce_unread.gif");
	padding-left: 25px;
	padding-top: 25px;
}
.imageset.announce_unread_mine {
	background-image: url("./images/announce_unread_mine.gif");
	padding-left: 25px;
	padding-top: 25px;
}
.imageset.announce_unread_locked {
	background-image: url("./images/announce_unread_locked.gif");
	padding-left: 25px;
	padding-top: 25px;
}
.imageset.announce_unread_locked_mine {
	background-image: url("./images/announce_unread_locked_mine.gif");
	padding-left: 25px;
	padding-top: 25px;
}
.imageset.global_read {
	background-image: url("./images/announce_read.gif");
	padding-left: 23px;
	padding-top: 23px;
}
.imageset.global_read_mine {
	background-image: url("./images/announce_read_mine.gif");
	padding-left: 23px;
	padding-top: 23px;
}
.imageset.global_read_locked {
	background-image: url("./images/announce_read_locked.gif");
	padding-left: 23px;
	padding-top: 23px;
}
.imageset.global_read_locked_mine {
	background-image: url("./images/announce_read_locked_mine.gif");
	padding-left: 23px;
	padding-top: 23px;
}
.imageset.global_unread {
	background-image: url("./images/announce_unread.gif");
	padding-left: 23px;
	padding-top: 23px;
}
.imageset.global_unread_mine {
	background-image: url("./images/announce_unread_mine.gif");
	padding-left: 23px;
	padding-top: 23px;
}
.imageset.global_unread_locked {
	background-image: url("./images/announce_unread_locked.gif");
	padding-left: 23px;
	padding-top: 23px;
}
.imageset.global_unread_locked_mine {
	background-image: url("./images/announce_unread_locked_mine.gif");
	padding-left: 23px;
	padding-top: 23px;
}
.imageset.pm_read {
	background-image: url("./images/topic_read.gif");
	padding-left: 25px;
	padding-top: 25px;
}
.imageset.pm_unread {
	background-image: url("./images/topic_unread.gif");
	padding-left: 25px;
	padding-top: 25px;
}
.imageset.icon_back_top {
	background-image: url("./images/top_up.gif");
	padding-left: 48px;
	padding-top: 19px;
}
.imageset.icon_post_target {
	background-image: url("./images/icon_post_target.gif");
	padding-left: 12px;
	padding-top: 9px;
}
.imageset.icon_post_target_unread {
	background-image: url("./images/icon_post_target_unread.gif");
	padding-left: 12px;
	padding-top: 9px;
}
.imageset.icon_topic_attach {
	background-image: url("./images/icon_topic_attach.gif");
	padding-left: 14px;
	padding-top: 18px;
}
.imageset.icon_topic_latest {
	background-image: url("./images/icon_topic_latest.gif");
	padding-left: 18px;
	padding-top: 9px;
}
.imageset.icon_topic_newest {
	background-image: url("./images/icon_topic_newest.gif");
	padding-left: 18px;
	padding-top: 9px;
}
.imageset.icon_topic_reported {
	background-image: url("./images/icon_topic_reported.gif");
	padding-left: 19px;
	padding-top: 18px;
}
.imageset.icon_topic_unapproved {
	background-image: url("./images/icon_topic_unapproved.gif");
	padding-left: 19px;
	padding-top: 18px;
}


/* French images for fallback */
.imageset.icon_contact_aim {
	background-image: url("./fr/icon_contact_aim.gif");
	padding-left: 56px;
	padding-top: 19px;
}
.imageset.icon_contact_email {
	background-image: url("./fr/icon_contact_email.gif");
	padding-left: 56px;
	padding-top: 19px;
}
.imageset.icon_contact_icq {
	background-image: url("./fr/icon_contact_icq.gif");
	padding-left: 56px;
	padding-top: 19px;
}
.imageset.icon_contact_jabber {
	background-image: url("./fr/icon_contact_jabber.gif");
	padding-left: 56px;
	padding-top: 19px;
}
.imageset.icon_contact_msnm {
	background-image: url("./fr/icon_contact_msnm.gif");
	padding-left: 56px;
	padding-top: 19px;
}
.imageset.icon_contact_pm {
	background-image: url("./fr/icon_contact_pm.gif");
	padding-left: 56px;
	padding-top: 19px;
}
.imageset.icon_contact_yahoo {
	background-image: url("./fr/icon_contact_yahoo.gif");
	padding-left: 56px;
	padding-top: 19px;
}
.imageset.icon_contact_www {
	background-image: url("./fr/icon_contact_www.gif");
	padding-left: 56px;
	padding-top: 19px;
}
.imageset.icon_post_delete {
	background-image: url("./fr/icon_post_delete.gif");
	padding-left: 20px;
	padding-top: 20px;
}
.imageset.icon_post_edit {
	background-image: url("./fr/icon_post_edit.gif");
	padding-left: 56px;
	padding-top: 19px;
}
.imageset.icon_post_info {
	background-image: url("./fr/icon_post_info.gif");
	padding-left: 20px;
	padding-top: 20px;
}
.imageset.icon_post_quote {
	background-image: url("./fr/icon_post_quote.gif");
	padding-left: 20px;
	padding-top: 20px;
}
.imageset.icon_post_report {
	background-image: url("./fr/icon_post_report.gif");
	padding-left: 20px;
	padding-top: 20px;
}
.imageset.icon_user_online {
	background-image: url("./fr/icon_user_online.gif");
	padding-left: 56px;
	padding-top: 19px;
}
.imageset.icon_user_offline {
	background-image: url("./fr/icon_user_offline.gif");
	padding-left: 56px;
	padding-top: 19px;
}
.imageset.icon_user_profile {
	background-image: url("./fr/icon_user_profile.gif");
	padding-left: 56px;
	padding-top: 19px;
}
.imageset.icon_user_search {
	background-image: url("./fr/icon_user_search.gif");
	padding-left: 56px;
	padding-top: 19px;
}
.imageset.icon_user_warn {
	background-image: url("./fr/icon_user_warn.gif");
	padding-left: 20px;
	padding-top: 20px;
}
.imageset.button_pm_new {
	background-image: url("./fr/button_pm_new.gif");
	padding-left: 100px;
	padding-top: 28px;
}
.imageset.button_pm_reply {
	background-image: url("./fr/button_pm_reply.gif");
	padding-left: 100px;
	padding-top: 28px;
}
.imageset.button_topic_locked {
	background-image: url("./fr/button_topic_locked.gif");
	padding-left: 100px;
	padding-top: 28px;
}
.imageset.button_topic_new {
	background-image: url("./fr/button_topic_new.gif");
	padding-left: 100px;
	padding-top: 28px;
}
.imageset.button_topic_reply {
	background-image: url("./fr/button_topic_reply.gif");
	padding-left: 100px;
	padding-top: 28px;
}

/* RTL imageset entries */
.rtl .imageset.site_logo {
	padding-right: 170px;
	padding-left: 0;
}
.rtl .imageset.upload_bar {
	padding-right: 280px;
	padding-left: 0;
}
.rtl .imageset.poll_left, .rtl .imageset.poll_right {
	padding-right: 4px;
	padding-left: 0;
}
.rtl .imageset.poll_center {
	padding-right: 1px;
	padding-left: 0;
}
.rtl .imageset.forum_link, .rtl .imageset.forum_read, .rtl .imageset.forum_read_locked, .rtl .imageset.forum_read_subforum, .rtl .imageset.forum_unread, .rtl .imageset.forum_unread_locked, .rtl .imageset.forum_unread_subforum {
	padding-right: 35px;
	padding-left: 0;
}
.rtl .imageset.topic_moved, .rtl .imageset.topic_read, .rtl .imageset.topic_read_mine, .rtl .imageset.topic_read_hot, .rtl .imageset.topic_read_hot_mine, .rtl .imageset.topic_read_locked, .rtl .imageset.topic_read_locked_mine, .rtl .imageset.topic_unread, .rtl .imageset.topic_unread_mine, .rtl .imageset.topic_unread_hot, .rtl .imageset.topic_unread_hot_mine, .rtl .imageset.topic_unread_locked, .rtl .imageset.topic_unread_locked_mine, .rtl .imageset.sticky_read, .rtl .imageset.sticky_read_mine, .rtl .imageset.sticky_read_locked, .rtl .imageset.sticky_read_locked_mine, .rtl .imageset.sticky_unread, .rtl .imageset.sticky_unread_mine, .rtl .imageset.sticky_unread_locked, .rtl .imageset.sticky_unread_locked_mine, .rtl .imageset.announce_read, .rtl .imageset.announce_read_mine, .rtl .imageset.announce_read_locked, .rtl .imageset.announce_read_locked_mine, .rtl .imageset.announce_unread, .rtl .imageset.announce_unread_mine, .rtl .imageset.announce_unread_locked, .rtl .imageset.announce_unread_locked_mine, .rtl .imageset.pm_read, .rtl .imageset.pm_unread {
	padding-right: 25px;
	padding-left: 0;
}
.rtl .imageset.global_read, .rtl .imageset.global_read_mine, .rtl .imageset.global_read_locked, .rtl .imageset.global_read_locked_mine, .rtl .imageset.global_unread, .rtl .imageset.global_unread_mine, .rtl .imageset.global_unread_locked, .rtl .imageset.global_unread_locked_mine {
	padding-right: 23px;
	padding-left: 0;
}
.rtl .imageset.icon_back_top {
	padding-right: 48px;
	padding-left: 0;
}
.rtl .imageset.icon_post_target, .rtl .imageset.icon_post_target_unread {
	padding-right: 12px;
	padding-left: 0;
}
.rtl .imageset.icon_topic_attach {
	padding-right: 14px;
	padding-left: 0;
}
.rtl .imageset.icon_topic_latest, .rtl .imageset.icon_topic_newest {
	padding-right: 18px;
	padding-left: 0;
}
.rtl .imageset.icon_topic_reported, .rtl .imageset.icon_topic_unapproved {
	padding-right: 19px;
	padding-left: 0;
}
